extends ../layouts/common
block content
    h1 
        span.mr-3 Users
        a.btn.btn-primary(href='/user/create') New

    .d-flex.flex-row.align-items-center
        form.ml-auto(action='/user/search', method='get')
            .input-group
                if query
                    input.form-control(type='text' name='query' value= query)
                else 
                    input.form-control(type='text' name='query' placeholder='Search...')
                button.btn.btn-primary.ml-3(type='submit') Search
    table.table
        tr
            th Name
            th Phone
            th Actions
    
        each user in users
            tr 
                td= user.name
                td= user.phone
                td
                    a.btn.btn-light(href='/user/' + user.id) View

            